.git
.github
**/.env
**/.env.*
!**/.env.example
**/node_modules
.cache
.pnpm-store
**/.vite
**/coverage
**/dist
**/playwright-report
**/test-results
apps/api/bin
**/*.prof
**/*.test
**/*.tsbuildinfo
.eslintcache
*.log
